body{
    text-align: center;
    font-family: "Space Grotesk","Source Sans Pro",fallback-font,arial,sans-serif;
}
ol{
    list-style: none;
}
#wyszukiwarka,#nazwa_obowiazek{
    border-radius: 10px;
    width: 60vw;
    height: 3vw;
    font-size: large;
}
li{
    font-size: 2vw;
}
input[type=date]{
    width: 20vw;
    height: 3vw;
    border: 2px solid black;
    border-radius: 10px;
}
#dodaj,#usun{
    width: 10vw;
    height: 3vw;
    border: 2px solid black;
    border-radius: 10px;
}
#inputobject{
    width: 20vw;
    height: 3vw;
    border: 2px solid black;
    border-radius: 10px;
}
